<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="c18843e9-4fad-4a26-ab3c-77f995dc16b2"
            Publisher="CN=Gilberto"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>LyricsApp</DisplayName>
    <PublisherDisplayName>Gilberto</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="LyricsApp.App">
        <VisualElements
            DisplayName="LyricsApp"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="LyricsApp"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>